<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hzpt.plants.directory.mapper.MessageMapper">
    <select id="getUserMessageById" resultType="hzpt.plants.directory.entity.vo.GetMessagesVo">
        SELECT
            message.id AS id,
            message.openId AS openId,
            message.userMessage AS userMessage,
            message.imagesUrl AS imagesUrl,
            message.createTime AS createTime,
            (SELECT user.nickName from tbl_user AS user where message.openId=user.openId) as nickName,
            (SELECT user.imageUrl from tbl_user AS user where message.openId=user.openId) as imageUrl
        FROM
            tbl_message AS message
        where message.openId=#{openId}
    </select>



    <select id="getAllMessage" resultType="hzpt.plants.directory.entity.vo.GetMessagesVo">
        SELECT
        message.id AS id,
        message.openId AS openId,
        message.userMessage AS userMessage,
        message.imagesUrl AS imagesUrl,
        message.createTime AS createTime,
        message.deleted AS deleted,
        (SELECT user.nickName from tbl_user AS user where message.openId=user.openId) as nickName,
        (SELECT user.imageUrl from tbl_user AS user where message.openId=user.openId) as imageUrl
        FROM
        tbl_message AS message
        WHERE deleted=#{deleted}
        order By createTime='2021-06-17 15:51:48' DESC,createTime DESC;
    </select>
</mapper>